*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
 }

 .main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .main img{
    width: 150px;
 }
 .main h1{
    text-transform: uppercase;
    margin-bottom: 20px;
 }

 .main .login-body{
    width: 350px;
    padding: 25px 10px;
    border-radius: 10px;
    box-shadow: 0 0 8px #000;
    display: flex;
    flex-direction: column;
 }
 .main .login-body input{
    font-size: 14px;
    padding: 8px 4px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: none;
    box-shadow: 0 0 8px #00000040;
 }
 .main .login-body button{
    border-radius: 5px;
    margin-bottom: 5px;
    border: 0;
    background-color: var(--bgColor);
 }
 .main .login-body button a{
    display: inline-block;
    font-size: 18px;
    color: var(--textColor);
    padding: 10px 0;
    margin-top: 0;
    text-decoration: none;
 }

 .main .login-body a{
    text-decoration: underline;
    display: inline-block;
    padding: 10px 0;
    margin-top: -15px;
 }
 .main .login-body hr{
    margin: 10px 0;
 }